<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pega Visão - Redefinir Senha</title>
    <link href="../static/css/home.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
</head>
<body>
    <section class="redefinir">
        <div class="criarconta-logo logoimg"><a href="{{ url_for('home') }}"><img src="../static/image/logo3.png" alt=""></a></div>
        <div class="redefinir-box">
            <div class="login-titulo">
                <h1>Esqueceu a senha?</h1>
                <a class="voltar-btn" href="{{ url_for('home') }}">Voltar <img src="../static/image/voltar2.png" alt=""></a>
            </div>
            <p>Nós entendemos, coisas acontecem. Basta inserir o <strong>e-mail cadastrado</strong> e iremos enviar a sua nova senha!</p>
            <form method="POST">
                <label for="email">E-mail:</label><br>
                <input type="email" name="email" placeholder="Inserir e-mail" required><br>
                <input type="submit" value="Redefinir Senha">
            </form>
            <div class="infos">
                <div>
                    <span style="color:black" >Não tem uma Conta?</span>
                    <a style="color: black" href="{{ url_for('cadastro') }}">Cadastre-se</a>
                </div>
                <div>  
                    <span>Já tem conta? </span> 
                    <a style="color: black" href="{{ url_for('login') }}">Faça Login</a>
                </div>
            </div>
            
            <div style="font-size: 13px; text-align: center;">
                {% if mensagem %}
                <p style="text-align: center;">{{ mensagem }}</p>
                {% endif %}
            </div>
        </div>
    </section>    
</body>
</html>
