<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
    <title>Redefinir Senha</title>
    <link href="../static/css/home.css" rel="stylesheet" />
</head>
<body>
    
    <section  class="redefinir">
        <div class="criarconta-logo logoimg"><img src="../static/image/logo3.png" alt=""></div>
        <form  action="/redefinir_senha/{{ token }}"" class="forms forms-redefinir redefinir-box" method="post">      
            <div>
                <label for="nova_senha">Nova Senha:</label>
                <div class="input-password">
                    <input id="senha" type="password" id="nova_senha" name="nova_senha" placeholder="Digite uma nova senha" required>
                    <button id="mostrarSenha" class="ver-ocultar-senha" type="button"><img class="verocultar" src="../static/image/oculta-senha.png" alt="ver senha"> </button>
                </div>         
            </div>
            <div>
                <label for="confirmar_senha">Confirmar Nova Senha:</label>
                <div class="input-password">
                    <input id="senha" type="password" id="confirmar_senha" name="confirmar_senha" placeholder="Confirme a senha" required>
                </div>
            </div>
            <input type="submit" value="Redefinir Senha">
        </form>
    </section>

    <script>
        document.getElementById("mostrarSenha").addEventListener("click", function() {
            var senhaInput = document.getElementById("senha");
            var imgVerOcultar = document.querySelector(".verocultar")
            if (senhaInput.type === "password") {
                senhaInput.type = "text";
                imgVerOcultar.src = "../static/image/ver-senha.png"
            } else {
                senhaInput.type = "password";
                imgVerOcultar.src = "../static/image/oculta-senha.png"
            }
        });
    </script>
</body>
</html>
